body{
    padding: 0px;
    margin: 0px;
}
div.notify{
    color: red;
    width: 650px;
    border: 1px solid #ccc;
    margin: 25px;
    padding: 10px;
}
div.form-student {
    width: 550px;
    border: 1px solid #ccc;
    margin: 25px;
    padding: 10px;
    float: left;
}
div.list-student{
    width: 750px;
    border: 1px solid #ccc;
    margin: 25px;
    padding: 10px;
    float: right;
}
h3{
    padding: 0px;
    margin-top: 0px;
}
div.form-student label{
    width: 100px;
    float: left;
}

div.form-student input[type="text"]{
    margin-bottom: 10px;
    width: 200px;
    padding: 5px;
}
div.edit-student label{
    width: 100px;
    float: left;
}
div.edit-student input[type="text"]{
    margin-bottom: 10px;
    width: 200px;
    padding: 5px;
}
button {
    margin-top: 15px;
}
.Error{
    color: red;
}
.fire{
    color: red;
}
div.edit-student{
    width: 400px;
    border: 1px solid #ccc;
    margin: 25px;
    padding: 10px;
    float: left;
}